h1 {
  color : white;
  border-style: double;
  border-color: white;
  background-color:#001447 ;
  font-family: 'Abril Fatface';
  text-align: auto;
  padding: 0.6rem;
margin: 1.2rem 0.1rem 0.2rem 0.1rem;

}

h2{
  color : white;
  border-color: white;
  background-color:#001447 ;
  font-family: 'Abril Fatface';
  
}

button {
  color : #eeeff7 ;
  background-color:#eeeff7 /*grey*/ ;

  border-color: #D0B8A8;
  
  text-decoration-color: #E06C9F;
  font-size:1.5rem;
  width : 8rem ;
  height : 2.5rem;
  font-family: 'Abril Fatface';
  margin: 1rem 1rem;

  
}
body {
  background-color: #001447;
  padding: 1.5rem;
 
}

img{
  border-style: solid ;
  border-color: white;

  width: 50rem;
  height: 30rem;
}

/*a {
  color : #E06C9F ;
  border-style: outset  ;
  border-color: #D0B8A8;
  margin:2rem 5rem;
  padding: 1.5rem 3rem;
}

.search {

  color: black ;
  background: white;
  border-color: black;
  margin: 1rem;
  padding: 1rem;
}
*/
.content-area {
  /* border-color:blueviolet; */
  background-color: white;
  padding: 0.5rem;
  padding-block-end:100%; 
  
}
.home-buttons {
  /* border-color:blueviolet; */
  display: flex;
}

.search-result {
  margin: 0.1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
}

.thumbnail-image {
  height: 4rem;
  width: 4rem;
  border: 0;
  margin: 0.4rem;
}

.back{
  color : #E06C9F ;
  background-color:#EBDECEFF ;

  border-color: #D0B8A8;

  text-decoration-color: #E06C9F;
  font-size:1.5rem;
  width : 8rem ;
  height : 2.5rem;
  margin: 1rem 1rem;
}

p{
  margin: 0.5rem 5rem 0.2rem 1rem;
  text-align: auto;
}

text{
  height : 5rem ;

}
.tags {
  display: flex;
}

.tag {
  background-color: darkblue;
  color: #d0d0d0;
  padding: 0.05rem 0.3rem;
  margin: 0.1rem;
  border: blue 0.1rem solid;
  border-radius: 0.2rem;
}

.navigation-link  {
  color:#001447 ;
  font-weight:bold;
  background-color: lightgray;
  border: 0.25rem solid white;
  margin: 0.5rem 1rem;
  min-width: 5rem;
  outline: 0.25rem solid #001447;
  outline-offset: -0.5rem;
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-decoration: none;
}


.navigation-link:hover {
  background-color: white;
}

.tagItem{ 
  text-align: auto;


}

input[type=text]{
  background-color:#efefefff;
  border-color:#001447;
}
input[type=date]{
  margin:1rem;
  background-color:#efefefff;
  border-color:#001447;
}
input[type=checkbox]{
  background-color:#efefefff;
  border-color:#001447;
  }
input[type=select]{
    background-color:#efefefff;
    border-color:#001447;
  }

  .artistTextName{
    font-size: 5rem;
    font-family:'Abril Fatface';
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #001447;
    border: 0.25rem solid #001447;
    margin: 0.5rem 10rem;
    min-width: 5rem;
    outline: 0.25rem solid white;
    outline-offset: -0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;

  }
  
  .artistText{
    color:#001447;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 20rem;
    border: 0.25rem solid #001447;
    background-color: #eeeff7;
    padding: 0.75rem 1.25rem;
    font-weight:bold;
    font-size:1.2rem;
  }


 .artist-image{

  justify-content: center;
  border:  solid #001447;
  margin:auto;
  display: block;
  outline: 0.05rem solid lightgrey;
  outline-offset: -0.3rem;
 }
    